@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto+Condensed&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: Roboto Condensed;
  width: 100%;
}

body {
  margin: 0;
  background-color: #e3f2fd;
}

h1{
  font-size: 1.875rem;
  margin: 2rem;
}


