@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bubblegum+Sans&family=Bungee+Inline&family=Bungee+Shade&family=Chewy&family=Fredoka&family=Luckiest+Guy&family=Roboto+Condensed&family=Yanone+Kaffeesatz&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: Roboto Condensed;
}

body {
  margin: 0;
  background-color: #e3f2fd;
}

h1{
  font-size: 1.875rem;
  margin: 2rem;
}
