.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    background-color: #e3f2fd !important;
    font-family: Roboto Condensed !important;
}


.MuiTypography-root{
    font-family: Roboto Condensed !important;
}

#alert-dialog-title{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

#alert-dialog-description{
    text-align: center;
    font-size: 1.1rem;
}

.dialogButtonContainer{
    justify-content: center !important;
}


.MuiButtonBase-root{
    font-size: 0.9rem !important;
}

