/* FOOTER */
html {
height: 100%;
}
body {
min-height: 100%;
display: grid;
grid-template-rows: 1fr auto;  
}
.appContainer{
min-height: 100%;
display: grid;
grid-template-rows: 1fr auto;  
grid-row-start: 0;
grid-row-end: 1;
}

.footer {
grid-row-start: 3;
grid-row-end: 4;
}

.footer {
text-align: center;
width: 100%;
background-color: #add8e6 ;
z-index: 9999;
height: auto;
color: white;
}
.site-footer, .page-wrap:after {
height: 60px; 
}

.footer-firstline{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
justify-self: center !important;
}

.footer p {
background-color: #add8e6 ;
margin: 1.5vh;
color: white;
margin-left: 10px;
padding-top: 4px;
}

.footer p a {
color: dodgerblue;
background-color: #add8e6 ;
    
}

.footer svg {
font-size: 12px;
background-color: #add8e6 ;
font-family: Arial, Helvetica, sans-serif;
}

.footer svg:hover {
fill: gray;
transition: fill 0.2s ease;
}

.footerEmptyDiv{
    width: 50%;
}

.footerContentDiv{
    width: 50%;
    display: flex;
    justify-content: space-between;
}


/* grid display */
.footer{
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
}

.footer-firstline{
    grid-column-start: 2;
    grid-column-end: 3;
}

.imgCreditsContainer{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
}