.game-container{
    margin-top: 5rem;
    cursor: url("../assets/images/precise2.cur"), pointer;
}

.custom-marker{
    width: 6vh;
    height: 6vh;
    border: 5px dashed red;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top: -2.1vh;
    left: -2.2vh;
    cursor: url("../assets/images/precise2.cur"), pointer;
}

.MuiBackdrop-invisible{
    cursor: url("../assets/images/precise2.cur"), pointer;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
    cursor: url("../assets/images/precise2.cur"), pointer;
}

.image-marker__image{
    user-select: none;
    cursor: url("../assets/images/precise2.cur"), pointer;
}

.class-nozzeCana{
    aspect-ratio: 1850/1257;
}

.class-starWars{
    aspect-ratio: 1850/2803;
}

.class-festival{
    aspect-ratio: 1850/2381;
}

/* responsive custom marker position */
@media (max-width: 1285px) {
    .custom-marker{
        top: -1.8vh;
        left: -1.8vh;
    }
}

@media (max-width: 700px) {
    .custom-marker{
        top: -1.5vh;
        left: -1.5vh;
    }
}

@media (max-width: 400px) {
    .custom-marker{
        top: -1.2vh;
        left: -1.2vh;
    }
}