.modalDialog{
    text-align: center;
}

.modalTimeDisplay{
    margin-top: 1rem;
}

.MuiTypography-root{
    color: black;
}

.css-qfso29-MuiTypography-root-MuiDialogContentText-root{
    font-size: 1.1rem !important;
}