.navbar{
    background-color: #add8e6 !important;
    height: 5rem;
    padding: 0;
    flex-wrap: nowrap;
    
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.navbar-brand{
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navbarHeaderImg{
    width: auto;
    height: auto;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
}

.navbarHeaderImg:hover{
    background-color: lightcyan;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}

.stopwatch-container{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-right: 1rem;
}

.navbarRightSideContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.navbarCharactersContainer{
    height: 100%;
    flex-shrink: 1;
    display: flex;

}

.MuiStack-root{
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.navbarAvatarContainer{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    cursor: pointer;
}

.navbarCharacterAvatar{
    height: 70% !important;
    width: auto !important;
}

.navbarAvatarContainer:hover { 
    font-size: 22px;
}

.navbarAvatarContainer:hover > .navbarCharacterAvatar { 
    height: 90% !important;
    width: auto !important;
}


.characterFound{
    color: gray !important;
    text-decoration: line-through;
    filter: grayscale(100%);
}

.navbarImageByTxt{
    margin: 0;
}

.navbarLeaderboardLinkContainer{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black !important;
    text-decoration: none !important;
}

.navbarLeaderboardLinkDiv{
    color: black !important;
    text-decoration: none !important;
    margin: 0.3rem;
}

.navbarLeaderboardLinkContainer:hover{
    background-color: lightcyan;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}



/* Responsive dropdown button */

.dropdownBtn{
 display: none;
 font-size: 3vw;
 color: red;
}

.nav-link{
    font-family: Bungee Shade;
}

.dropdown-menu{
  --bs-dropdown-min-width: none;
}

.dropdown-menu.show{
    width: max-content;
    height: fit-content;
    background-color: lightcyan;
}

.dropdown-character{
    margin: 1vh;
    margin-left: 1vh;
    margin-right: 2vh;
    font-size: 1.5vh;
}

.dropdown-character:hover{
    font-size: 1.6vh !important;
}

.navbarCharacterDropdownAvatar{
    height: 4vh !important;
    min-height: 2.5rem;
    width: auto !important;
}

.navbarAvatarContainer:hover > .navbarCharacterDropdownAvatar { 
    height: 6vh !important;
    width: auto;  
}

@media (max-width: 1285px) {
    .dropdownBtn{
        display: block;
    }

    .navbarCharactersContainer{
        display: none;
    }
}

@media (max-width: 700px) {
    .dropdownBtn{
        font-size: 4vw;
    }
}

@media (max-width: 400px) {
    .dropdownBtn{
        font-size: 5vw;
    }
}